body{
    margin: 0;
    font-family: 'Roboto';
}

div{
    display: block;
}

.flex-container {
    display: flex;
    flex-direction: column;
  }

.buttonDiv{
    position: relative;
    left: 150px;
}
.button {
    background-color: #3882F6;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    border-radius: 10px;
}
.image{
    float: right;
    width:400px;
    height:200px;
    border-radius: 30px;
    position: relative;
    top: 100px;
    right: 500px;
}
#images{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.otherimage{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 4px solid #3882F6;
    border-radius: 15px;
    margin: 5px 20px 0px 20px;
}

.top{
    background-color: #1f2937;
    min-height: 500px;
}
h1.logo{
    color: #F9FAF8;
    font-size: 24px;
    position: relative;
    left: 8%;
    padding-top: 20px;
    
}
p.header{
    color: #F9FAF8;
    font-size: 48px;
    padding-top: 100px;
    position: relative;
    left: 8%;
    padding-bottom: 5px;
    font-weight: 900;
    margin: 0;
}
p.secondary{
    position: relative;
    left: 8%;
    padding-bottom: 15px;
    font-size: 18px;
    color: #E5E7EB;
    margin: 0;
}



.middle{
    align-items: center;
}

h1.mid{
    color: #1f2937;
    font-size: 36px;
    font-style: extra-bold;
    text-align: center;
}



.bottom{

}
h1.bot{
    color: black;
}